
.color {
  background: #ccc;
}

.color-primary {
  color: $primary
}

.color-black {
  color: $black;
}

.color-black-2 {
  color: $link;
}

.color-pimary{
  color: $primary;
}

.color-blue {
  color: $blue;
}

.color-orange {
  color: $orange;
}

.color-green {
  color: $green;
}

.color-red {
  color: $red
}

.background-pripary {
  background: $primary !important;
  color: #fff;
}

.background-black {
  background: $black !important;  
  color: #fff;
}

.background-gray {
  background: $gray !important;
}

.background-pimary{
  background: $primary !important;
  color: #fff;
}

.background-blue {
  background: $blue !important;
  color: #fff;
}

.background-orange {
  background: $orange !important;
  color: #fff;
}

.background-green {
  background: $green !important;
  color: #fff;
}

.background-red {
  background: $red !important;
  color: #fff;
}

.background-blue-light {
  background: $blue-light !important;
}

.background-orange-light {
  background: $orange-light !important;
}

.background-green-light {
  background: $green-light !important;
}

.background-red-light {
  background: $red-light !important;
}

.background-rgba {
  background: rgba(0,0,0,.07) !important;
}



