$primary: #FFC03A;
$second: #EF3535;
$black: #292929;
$link: #6D6D6D;
$hover: #FF5454;
$gray: #ECECEC;
$white: #F4F4F4;

$blue: #35B6FF;
$green: #5DC500;
$orange: #FFCF50;
$red: #FF3C25;

$blue-light: #F1FFFE;
$green-light: #F6FFF1;
$orange-light: #FFFCF1;
$red-light: #FFF1F1;